.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

.filter-container {
  width: 360px;
}

@media (min-width: 640px) {
  .filter-container {
    width: 620px;
  }
}

@media (min-width: 1024px) {
  .filter-container {
    width: 1016px;
  }
}
