.art-container {
  scroll-snap-align: start;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 1rem;
}

.art-image {
  width: 328px;
  height: 328px;
  object-fit: cover;
  z-index: 0;
  transition: border 500ms ease-in-out;
}

.art-image:hover {
  border: 3px solid #e4333200;
}

.art-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 328px;
  height: fit-content;
  align-self: flex-end;
  position: relative;
  transform: translateY(-100%);
  color: white;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.art-container:hover .art-overlay {
  opacity: 1;
}

.art-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  padding: 0.5rem;
}
