/* Button.module.css */

.button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  gap: 8px; /* Added spacing for icon and text */
  width: fit-content;
}

.primary {
  background-color: #e43332;
  color: #fff;
}

.primary:hover {
  background-color: #d22e2d;
}

.secondary {
  background-color: #2d3748;
  color: #fff;
}

.secondary:hover {
  background-color: #1a202c;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px; /* Ensure icon scales appropriately */
}

.buttonText {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .button {
    width: auto; /* Adjusted for dynamic sizing */
    padding: 10px;
  }
}
