@media screen and (max-width: 1000px) {
    .element {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        flex-grow: 0;
    }
}

@media screen and (max-width: 700px) {
    .arrow {
        display: none;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    background-color: rgba(31, 31, 31, 0.82);
    margin: 10px;
}

.navigator {
    display: flex;
}

.navigator-circle {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: #aaaaaa;
    margin: 10px;
}

.selected {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 10px;
}

.carousel-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    width: 100vw;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}

.slider {
    display: flex;
    overflow-x: hidden;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.element-wrapper {
    /* flex: 0 0 calc((100% - (16px * 2))/3); */
    scroll-snap-align: start;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 16px;
}