.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4vw;
    height: fit-content;
}

.title {
    font-weight: 700;
    font-size: 3vw;
    margin: 2vh;
}

.para {
    font-size: 1.2vw;
    margin: 2vh;
}

.image {
    width: 600px;
}

.button {
    background-color: var(--maskred);
    width: fit-content;
    padding: 10px;
    margin: 2vh;
    border-radius: 100px;
    font-size: 1.2vw;
}

@media screen and (max-width: 1000px) {

    .element {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        flex-grow: 0;
    }

    .image {
        width: 60vw;
        max-width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 700px) {
    .image {
        margin: 0px;
        width: 90vw;
    }

    .title {
        font-size: 20px;
        margin: 10px 0px;
    }

    .para {
        margin: 5px 0px;
        font-size: 12px;
    }

    .right {
        max-width: 600px;
    }

    .button {
        font-size: 10px;
        margin: 0px 0px;
    }
}

.element {
    flex: 0 0 calc((100% - (16px * 2)));
    scroll-snap-align: start;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 16px;
}