.eventCard {
  font-family: 'Cabin', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: #1e1e1e;
  border-radius: clamp(10px, 1vw, 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 80%;
  max-width: 1400px;
  margin: 2vh auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  gap: 2vw;
  min-height: 30vh;
}

.eventCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(5, 5, 5, 0.15);
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  min-width: 300px;
  height: 100%;
}

.eventImage {
  width: 100%;
  height: 100%;
  border-radius: clamp(8px, 1vw, 15px);
  object-fit: cover;
}

.contentWrapper {
  flex: 1;
  padding: clamp(1rem, 2vw, 2.5rem);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2vh;
}

.eventTitle {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 700;
  color: #dfdfdf;
  margin: 1vh 0;
  text-align: left;
}

.eventMeta {
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: #aaa;
  padding: 1vh 0;
}

.eventMeta strong {
  font-weight: 600;
  color: #fff;
}

.eventDescription {
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  color: #ffffff;
  line-height: 1.5;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}


@media screen and (max-width: 768px) {
  .eventCard {
    flex-direction: column;
    width: 90%;
    margin: 15px auto;
    padding-top: 0;
    padding-left: 0; 
    padding-right: 0;
    border-radius: 20px;
    
  }

  .imageWrapper {
    padding-right: 0;
    padding-bottom: 1rem;
    width: 100%;
  }

  .eventImage {
    width: 100%;
    height: auto; 
  }

  .contentWrapper {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .eventTitle {
    font-size: 2rem;
    margin-top: -2rem;
  }

  .eventDescription {
    font-size: 0.9rem;
  }
}
