.main {
    display: flex;
    flex-wrap: wrap;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4vh;
    max-width: 400px;
}

.title {
    font-weight: 700;
    font-size: 48px;
    margin: 2vh;
}

.para {
    font-size: 16px;
    margin: 2vh;
}

.button {
    background-color: var(--maskred);
    width: 15vh;
    padding: 10px;
    margin: 2vh;
    border-radius: 100px;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 30px;
        margin: 10px;
    }

    .para {
        margin: 5px;
    }

    .image {
        width: 100%;
        max-width: 558px;
    }
}