.heroBanner {
    align-items: center;
    align-self: center;
    padding: 1rem 2rem 1rem 2rem;
}

.heroTitle {
    font-size: 2rem;
    font-weight: 700;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heroText {
    padding: 1rem;
    flex-wrap: wrap;
    width: 579px;
}

@media screen and (max-width: 768px) {
    .heroBanner {
        padding: 1rem;
    }

    .heroTitle {
        font-size: 1.5rem;
    }

    .heroText {
        width: 85%;
        text-align: justify;
    }
    
}