:root {
  --abyss: #060606;
  --shadow-gray: #1f1f1f;
  --darker-gray: #252525;
  --dark-gray: #373737;
  --tinted-gray: #444444;
  --medium-gray: #555555;
  --middle-gray: #606060;
  --gray: #6d6d6d;
  --ghost-gray: #777777;
  --light-gray: #a9a9a9;
  --off-white: #d0d0d0;
  --white: #ffffff;

  --dark-red: #8b0000;
  --red: #d61f35;
  --error-red: #e84e4f;
  --light-pink: #f1adad;
}

.navbar-full {
  margin-bottom: 30px;
}

.navbar-full ul {
  list-style-type: none;
  background-color: var(--shadow-gray);
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
}

.navbar-container {
  display: inline-flex;
  flex: 1;
}

.navbar-full li {
  float: left;
}

.navbar-full li a,
.dropbtn {
  display: block;
  padding: 14px 16px;
  text-align: center;
  color: var(--off-white);
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}

.navbar-full li a:hover:not(.active-page, .nohover),
#dropdown:hover .dropbtn {
  background-color: var(--abyss);
}

.navbar-full li #dropdown {
  display: inline-block;
}

hr.in-navbar {
  background-color: var(--off-white);
  border-color: var(--off-white);
  color: var(--off-white);
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: var(--darker-gray);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--abyss);
  z-index: 1;
}

.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 500;
  transition: 0.5s;
}

.dropdown-content a:hover:not(.active-page) {
  background-color: var(--abyss);
}

#dropdown:hover .dropdown-content {
  display: block;
}

.active-page {
  background-color: var(--dark-red);
}

img#navbar-logo {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  border-radius: 40%;
  transition: all 0.5s linear;
}

img#navbar-logo:hover {
  opacity: 0.7;
}

span.navbar-line {
  height: 40px;
  border-right: 1px solid var(--gray);
  display: block;
  float: left;
  margin: 0px 10px;
}

/********************************************************/

.hamburger-menu,
.plate,
.plate-bar {
  display: none;
}

.plate {
  position: sticky;
  top: 0;
  z-index: 30;
  height: 80px;
  width: 100%;
  background-color: var(--darker-gray);
}

.plate-bar {
  color: var(--light-gray);
  height: 1px;
  width: 100%;
  margin-bottom: 40px;
}

.burger-home {
  padding: 10px;
}

#burger-logo {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin: 10px;
  float: left;
  left: 10px;
  z-index: 32;
  position: absolute;
  transition: all 0.5s linear;
}

#burger-logo:hover {
  opacity: 0.7;
}

.burger {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 31;
  text-align: left;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.burger:hover {
  background-color: var(--tinted-gray);
}

.patty {
  position: relative;
  width: 30px;
  height: 3px;
  background: var(--off-white);
  top: 50%;
  transition: all 0.2s ease-in-out;
  transform: translateY(-50%);
}

.patty:before,
.patty:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  transition: all 0.3s ease-in-out;
  background: var(--off-white);
}

.patty:before {
  top: -10px;
}

.patty:after {
  top: 10px;
}

.burger.open .patty {
  background: transparent;
}

.burger.open .patty:before {
  transform: rotate(-45deg);
  top: 0;
  width: 30px;
}

.burger.open .patty:after {
  transform: rotate(45deg);
  top: 0;
  width: 30px;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #222;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
  text-align: left;
  z-index: 29;
}

.slide {
  transform: translateX(0);
}

.hamburger-menu a {
  color: var(--off-white);
  text-decoration: none;
  transition: 0.6s;
}

.hamburger-menu a:hover:not(.active-page) {
  background-color: var(--abyss);
}

.hamburger-menu a div:hover {
  color: var(--white);
}

.hamburger-menu a div {
  padding: 10px;
  padding-left: 25px;
}

.hamburger-menu hr:not(.border-bottom) {
  margin: auto;
}

#top-line {
  width: 90%;
}

.hamburger-menu hr.minor {
  background-color: var(--tinted-gray);
  border-color: var(--tinted-gray);
  color: var(--tinted-gray);
  margin-left: 5.5%;
  margin-right: 10%;
}

.hamburger-menu #most-bottom {
  position: absolute;
  bottom: 75px;
}

.hamburger-menu #almost-bottom {
  position: absolute;
  bottom: 115px;
}

.hamburger-menu #top-bottom {
  position: absolute;
  bottom: 155px;
}

.border-bottom {
  position: absolute;
  bottom: 71px;
  height: 1px;
  width: 100%;
  color: var(--gray);
}

.lower-border {
  position: absolute;
  bottom: 115px;
  margin-left: 5.5%;
  margin-right: 10%;
  width: 83%;
}

.lower-border-upper {
  bottom: 155px;
}

.lettuce {
  width: 100%;
}

/********************************************************/

@media (max-width: 600px) {
  .navbar-full {
    display: none;
  }
  .hamburger-menu,
  .plate,
  .plate-bar {
    display: block;
  }
  .burger-open > *:not(.plate, .hamburger-menu) {
    display: none;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--shadow-gray);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 30;
}

#footer-logo {
  display: block;
  position: absolute;
  left: 20px;
  top: 10px;
}

#footer-logo img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  border-radius: 40%;
  transition: all 0.5s linear;
}

#footer-name {
  position: absolute;
  left: 90px;
  font-weight: bold;
  color: var(--off-white);
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 70px;
}

a.social-link {
  align-self: center;
}

img.social-icon {
  margin: 17px 10px;
  vertical-align: middle;
  border-radius: 2px;
  width: 36px;
  transition: transform 0.2s;
  display: inline-flex;
}

img.social-icon:hover {
  transform: scale(1.2);
}

.social-link {
  text-decoration: none;
}

.icon {
  color: var(--dark-red);
  margin-right: 7px;
  transition: 0.3s ease-in-out;
}

.social-link:hover > .icon {
  color: var(--red);
  transform: scale(1.166);
}

div#contact-us {
  text-align: center;
  color: var(--light-gray);
  height: 70px;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

@media (max-width: 400px) {
  footer {
    justify-content: space-evenly;
  }
  img#gmail {
    margin-right: 10px;
  }
  #footer-logo {
    display: none;
  }
}

@media (max-width: 450px) {
  div#contact-us {
    display: none;
  }
}

@media (max-width: 600px) {
  #footer-name {
    display: none;
  }
}

span.float-middle {
  vertical-align: middle;
  display: inline-flex;
}

.center-carousel {
  display: flex;
  justify-content: center;
}

/************************************/
/* css for youtube lite embed this doesnt contain wrapper styles */
.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

/* gradient */
.yt-lite::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* play button */
.yt-lite > .lty-playbtn {
  width: 65px;
  height: 46px;
  z-index: 1;
  opacity: 0.8;
  border: none;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22YouTube_Icon%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201024%20721%22%20enable-background%3D%22new%200%200%201024%20721%22%20xml%3Aspace%3D%22preserve%22%3E%3Cscript%20xmlns%3D%22%22%3E%0A%20%20%20%20try%20%7B%0A%20%20%20%20%20%20Object.defineProperty(navigator%2C%20%22globalPrivacyControl%22%2C%20%7B%0A%20%20%20%20%20%20%20%20value%3A%20false%2C%0A%20%20%20%20%20%20%20%20configurable%3A%20false%2C%0A%20%20%20%20%20%20%20%20writable%3A%20false%0A%20%20%20%20%20%20%7D)%3B%0A%20%20%20%20%20%20document.currentScript.parentElement.removeChild(document.currentScript)%3B%0A%20%20%20%20%7D%20catch(e)%20%7B%7D%3B%0A%20%20%20%20%20%20%3C%2Fscript%3E%0A%3Cpath%20id%3D%22Triangle%22%20fill%3D%22%23FFFFFF%22%20d%3D%22M407%2C493l276-143L407%2C206V493z%22%2F%3E%0A%3Cpath%20id%3D%22The_Sharpness%22%20opacity%3D%220.12%22%20fill%3D%22%23420000%22%20d%3D%22M407%2C206l242%2C161.6l34-17.6L407%2C206z%22%2F%3E%0A%3Cg%20id%3D%22Lozenge%22%3E%0A%09%3Cg%3E%0A%09%09%0A%09%09%09%3ClinearGradient%20id%3D%22SVGID_1_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22512.5%22%20y1%3D%22719.7%22%20x2%3D%22512.5%22%20y2%3D%221.2%22%20gradientTransform%3D%22matrix(1%200%200%20-1%200%20721)%22%3E%0A%09%09%09%3Cstop%20offset%3D%220%22%20style%3D%22stop-color%3A%23E52D27%22%2F%3E%0A%09%09%09%3Cstop%20offset%3D%221%22%20style%3D%22stop-color%3A%23BF171D%22%2F%3E%0A%09%09%3C%2FlinearGradient%3E%0A%09%09%3Cpath%20fill%3D%22url(%23SVGID_1_)%22%20d%3D%22M1013%2C156.3c0%2C0-10-70.4-40.6-101.4C933.6%2C14.2%2C890%2C14%2C870.1%2C11.6C727.1%2C1.3%2C512.7%2C1.3%2C512.7%2C1.3%20%20%20%20h-0.4c0%2C0-214.4%2C0-357.4%2C10.3C135%2C14%2C91.4%2C14.2%2C52.6%2C54.9C22%2C85.9%2C12%2C156.3%2C12%2C156.3S1.8%2C238.9%2C1.8%2C321.6v77.5%20%20%20%20C1.8%2C481.8%2C12%2C564.4%2C12%2C564.4s10%2C70.4%2C40.6%2C101.4c38.9%2C40.7%2C89.9%2C39.4%2C112.6%2C43.7c81.7%2C7.8%2C347.3%2C10.3%2C347.3%2C10.3%20%20%20%20s214.6-0.3%2C357.6-10.7c20-2.4%2C63.5-2.6%2C102.3-43.3c30.6-31%2C40.6-101.4%2C40.6-101.4s10.2-82.7%2C10.2-165.3v-77.5%20%20%20%20C1023.2%2C238.9%2C1013%2C156.3%2C1013%2C156.3z%20M407%2C493V206l276%2C144L407%2C493z%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: "";
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent #fff;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}
