.member-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1%;
    height: 12em;
    aspect-ratio: 325/450;
    justify-content: center;
}
.member-container > div {
    overflow: hidden;
    box-shadow: 0em 0.1em 0.2em rgba(0,0,0,2);
}

.profile-pic {
    height: 66%;
}

.info-container{
    display: flex;
    flex-direction: column;
    background-color: #E43332;
    height: 34%;
    justify-content: center;   
    gap: 0.5em;
    padding: 3% 1%;
}

.info-container > div{
    align-items: flex-start;
}

.member-name{
    text-align: left;
    align-content: left;
}

.profile-pic > img{
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
}

.member-name h2{
    font-size: 0.9em;
    font-weight: 600;
    color: whitesmoke;
}

.member-position h3{
    font-size: 0.6em;
    color: whitesmoke;
    text-align: left;
}

