.members {
	padding: 70px 110px;
}

.members > section > h2 {
	color: var(--textwhite);
	font-size: 2rem;
	margin-bottom: 20px;
}

.members-batch-container {
	text-align: right;
	position: relative;
}

.members-batch-down {
	color: rgba(109, 109, 109, 1);
	position: absolute;
	right: 10px;
	align-self: center;
	height: 20px;
}

.members-batch-select {
	padding: 10px 40px 10px 15px;
	background: rgba(30, 30, 30, 1);
	color: rgba(109, 109, 109, 1);
	border: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

.members-batch-select:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

.members-batch-select > option {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
}

.members-section {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 20px;
	margin-bottom: 50px;
}

.members-section-horizontal-wrapper {
	position: relative;
	display: flex;
}

.members-section-horizontal {
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	flex-wrap: nowrap;
	scroll-behavior: smooth;
}

.members-section-horizontal > * {
	flex: 0 0 auto;
}

.members-scroll-button {
	position: absolute;
	align-self: center;
	color: rgba(109, 109, 109, 1);
	background: rgba(31, 31, 31, 0.82);
	width: 40;
	height: 40;
	font-size: 30px;
	border: none;
	display: flex;
	align-items: center;
	align-self: center;
	padding: 10px;
	transform: translateY(-50%);
}

@media (max-width: 800px) {
	.members {
		padding: 70px 30px;
	}

	.members-carousel > div > button {
		display: none !important;
	}

	.members-scroll-button {
		display: none;
	}

	.members-section-horizontal {
		overflow-x: auto;
	}
}
