.content {
  display: flex;
  flex-grow: inherit;
  gap: 2rem;
}

.news-poster {
  width: 376px;
  height: 532px;
  margin-bottom: 1.5rem;
}

.content-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 437px;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.content-mobile {
  display: none;
}

.main-screen-mobile {
  display: flex;
  gap: 1rem;
}

.mobile-news-poster {
  width: 160px;
  height: 230px;
  flex-shrink: 0;
}

.text-content-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
}

.description {
  text-align: left;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 0.8rem;
}
.subdescription {
  text-align: left;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 0.8rem;
}

.cta-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 1rem 2rem 1rem 2rem;
  width: clamp(200px, 75%, 900px);
  height: 40px;
  border-radius: 41px;
}

.cta-button:hover {
  cursor: pointer;
}

.cta-text {
  font-weight: 700;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.875rem;
  }

  .description {
    font-size: 0.9rem;
  }
  .subdescription {
    font-size: 0.9rem;
  }

  .cta-button {
    height: 55px;
  }
}

@media (max-width: 767px) {
  .news-poster {
    display: none;
  }
  .content-column {
    display: none;
  }

  .content-mobile {
    display: flex;
    width: 80vw;
    min-height: fit-content;
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .header-content {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .header-content {
    width: 70%;
  }
}
