/* styles for youtube lite embed component are in layoutCSS */
.youtube-videos {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  bottom: 0;
}

.youtube-vid {
  flex: 0 0 auto;
  max-height: 100%;
  max-width: 100%;
  width: 100vh;
  /* height: 100vw; */
  border-radius: 10px;
  background-color: var(--medium-gray);
  transition: transform 0.5s ease; /* Add smooth transition for video changes */
}

/* Responsive styles */
@media (max-width: 600px) {
  .youtube-vid,
  .vidshow-container {
    width: 100%;
  }
  .vidshow-container {
    margin: 20px;
  }
  .youtube-vid {
    aspect-ratio: 16/9;
  }
}