/* styles for youtube lite embed component are in layoutCSS */
.youtube-videos {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  bottom: 0;
}

.youtube-vid {
	width: 720px;
	height: 540px;
	border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 600px) {
  .youtube-vid,
  .vidshow-container {
    width: 100%;
  }
  .vidshow-container {
    margin: 20px;
  }
  .youtube-vid {
    aspect-ratio: 16/9;
  }
}